In [1]:
%cd ..

d:\OneDrive\J-5\GitHub\Projects\DeepREI\Model

In [2]:
import pandas as pd
from collections import Counter
import re
from src.features.VerboseValueNullBinary import VerboseValueNullBinary
from src.features.NumericValueNullBinary import NumericValueNullBinary
from src.features.CategoricalValueNullBinary import CategoricalValueNullBinary
from src.features.BuildModelInput import BuildModelInput


import time
import os
from sqlalchemy import create_engine
import psycopg2 as pg
import io
import re
from datetime import datetime, timedelta

# from keras.models import Sequential # Initialize ANN
# from keras.layers import Dense # Tell us the number of layers, neurons per layer and activation function
from sklearn.model_selection import train_test_split # Split the data into training and testing sets
from sklearn.preprocessing import MinMaxScaler # To scale the data

In [3]:
import warnings

def fxn():
    warnings.warn("deprecated", DeprecationWarning)

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    fxn()

# 1) Import Data

In [4]:
# Create SQLAlchemy Connection
engine = create_engine('postgresql://postgres:Iminmiami!1@localhost:5433/DeepREI')
connection = engine.raw_connection()

# Instantiate Cursor
cursor = connection.cursor()

In [5]:
# Import Raw Data
base_data = pd.read_sql_query("SELECT * FROM public.realtortable", connection)

## Clean and Prep Data

In [6]:
base_data.columns

Index(['PropertyUrl', 'ListingType', 'description', 'bedroom',
       'TotalBathrooms', 'FullBathrooms', 'HalfBathrooms',
       'BathroomDescription', 'InteriorFeatures', 'CoolingFeatures',
       'HeatingFeatures', 'DiningRoomDescription', 'ExteriorandLotFeatures',
       'WaterFeatures', 'WaterfrontDescription', 'PoolFeatures',
       'PoolDescription', 'ManufacturedMode', 'GarageSpaces',
       'ParkingFeatures', 'HomeFeaturesView', 'OtherEquipment',
       'ElementarySchool', 'HighSchool', 'MiddleSchool',
       'AssociationFeeAmenitie', 'Association', 'AssociationAmenities',
       'AssociationFee', 'AssociationFeeFrequency',
       'CalculatedTotalMonthlyAssociation', 'MaintenanceDescription',
       'PetDescription', 'AnnualTaxAmount', 'SourceListingStatus', 'County',
       'Directions', 'TaxYear', 'Restrictions', 'SourcePropertyType', 'Area',
       'SourceNeighborhood', 'PostalCode', 'PublicSurveySection',
       'Subdivision', 'Zoning', 'SourceSystemName', 'TotalSquareFeetLiving',
       'YearBuilt', 'ConstructionMaterials', 'DirectionFaces', 'PropertyAge',
       'Roof', 'LevelsorStories', 'StructureType', 'HouseStyle',
       'TotalAreaSqft', 'YearBuiltDetails', 'ArchitecturalStyle', 'Sewer',
       'WaterSource'],
      dtype='object')

In [7]:
# Remove Columns we dont want
base_data = base_data[['ListingType', 'bedroom', 'FullBathrooms', 'HalfBathrooms','BathroomDescription', 'InteriorFeatures', 'CoolingFeatures','HeatingFeatures', 'DiningRoomDescription', 'ExteriorandLotFeatures','WaterFeatures', 'WaterfrontDescription', 'PoolFeatures','PoolDescription', 'ManufacturedMode', 'GarageSpaces','ParkingFeatures', 'HomeFeaturesView', 'OtherEquipment','ElementarySchool', 'HighSchool', 'MiddleSchool','AssociationFeeAmenitie', 'Association', 'AssociationAmenities','AssociationFee', 'AssociationFeeFrequency', 'MaintenanceDescription','PetDescription', 'SourceListingStatus', 'County', 'Restrictions', 'SourcePropertyType', 'Area','SourceNeighborhood', 'PublicSurveySection','Subdivision', 'Zoning', 'SourceSystemName', 'TotalSquareFeetLiving', 'ConstructionMaterials', 'DirectionFaces', 'PropertyAge','Roof', 'LevelsorStories', 'StructureType', 'HouseStyle','TotalAreaSqft', 'YearBuiltDetails', 'ArchitecturalStyle', 'Sewer','WaterSource','YearBuilt']]

## Feature Engineering

#### Organize columns into groups of Numeric, Categorical, and Verbose

In [8]:
# Column Names and their respective feature types
num_columns = ['bedroom','FullBathrooms', 'HalfBathrooms','GarageSpaces', 'PropertyAge','TotalSquareFeetLiving','AssociationFee','LevelsorStories','YearBuilt']

cat_columns = ['ManufacturedMode','ElementarySchool','HighSchool', 'MiddleSchool','AssociationFeeFrequency','PetDescription', 'County','Area','PublicSurveySection','Zoning','SourceSystemName','Association', 'DirectionFaces','StructureType','HouseStyle','ArchitecturalStyle','SourceListingStatus', 'Sewer','WaterSource', 'SourceNeighborhood','SourcePropertyType','Subdivision','YearBuiltDetails']

verbose_columns = ['CoolingFeatures','HeatingFeatures', 'BathroomDescription', 'InteriorFeatures', 'AssociationFeeAmenitie', 'DiningRoomDescription', 'ExteriorandLotFeatures','WaterFeatures', 'WaterfrontDescription', 'PoolFeatures','PoolDescription', 'ParkingFeatures', 'HomeFeaturesView', 'OtherEquipment', 'AssociationAmenities','Roof','Restrictions','ConstructionMaterials','MaintenanceDescription']

In [13]:
base_data['']

,ListingType,bedroom,FullBathrooms,HalfBathrooms,BathroomDescription,InteriorFeatures,CoolingFeatures,HeatingFeatures,DiningRoomDescription,ExteriorandLotFeatures,...,Roof,LevelsorStories,StructureType,HouseStyle,TotalAreaSqft,YearBuiltDetails,ArchitecturalStyle,Sewer,WaterSource,YearBuilt
0,sold,4,3,1,"Dual Sinks, Separate Tub & Shower",First Floor Entry\n Built-Ins\n ...,Ceiling Fans,"Central Heat, Electric Heat",None,None,...,Other Roof,1,Single Family,Pool Only,3692,Resale,Detached,Septic Tank,Well Water,Resale
1,sold,4,2,None,None,First Floor Entry\n Laundry Tub\n...,"Central Cooling, Electric Cooling","Central Heat, Electric Heat",None,None,...,"Other Roof, Shingle Roof","1, 1",Single Family,R30-No Pool/No Water,2819,Resale,Detached,Septic Tank,Municipal Water,Resale
2,sold,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,sold,5,5,None,"Dual Sinks, Separate Tub & Shower",First Floor Entry\n Cooking Islan...,Central Cooling,Central Heat,None,None,...,Barrel Roof,1,Single Family,Pool Only,6346,Resale,Detached,Septic Tank,Municipal Water,Resale
4,sold,4,3,None,"Bidet, Dual Sinks, Separate Tub & Shower",First Floor Entry\n Built-Ins\n ...,"Ceiling Fans, Central Cooling",Central Heat,None,None,...,Barrel Roof,1,Single Family,R30-No Pool/No Water,3298,Resale,Detached,Septic Tank,Municipal Water,Resale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,sold,None,None,None,None,None,None,None,None,Association: No\n \n \n ...,...,None,None,None,None,None,None,None,None,None,None
809,sold,2,1,1,"Bidet, Combination Tub & Shower",First Floor Entry\n \n \n ...,"Central Cooling, Electric Cooling","Central Heat, Electric Heat",None,None,...,None,None,Condo/Co-Op/Villa/Townhouse,Townhouse Fee Simple,1152,Resale,Townhouse Fee Simple,None,None,Resale
810,sold,5,4,None,"Dual Sinks, Separate Tub & Shower",First Floor Entry\n Foyer Entry\n...,"Ceiling Fans, Central Cooling",Central Heat,None,None,...,Other Roof,2,Single Family,Pool Only,5588,Resale,Detached,Municipal Sewer,Municipal Water,Resale
811,sold,4,3,1,Separate Tub & Shower,First Floor Entry\n Built-Ins\n ...,"Central Cooling, Electric Cooling","Central Heat, Electric Heat",None,None,...,Barrel Roof,1,Single Family,WF/Pool/No Ocean Access,4151,Resale,Detached,Municipal Sewer,Municipal Water,Resale
812,sold,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [9]:
model_input = BuildModelInput(dataset=base_data,
                num_columns=num_columns,
                cat_columns=cat_columns,
                verbose_columns=verbose_columns,
                verbose_threshold=5,
                verbose_most_common=True)

In [10]:
model_input.build_model_input()

In [11]:
temp.df_model

,bedroom_cat_4,bedroom_cat_5,bedroom_cat_2,bedroom_cat_6,bedroom_cat_none,bedroom_cat_3,bedroom_cat_1,bedroom_cat_7,bedroom_cat_8,bedroom_cat_x,...,PropertyAge_is_null,PropertyAge_value,TotalSquareFeetLiving_is_null,TotalSquareFeetLiving_value,AssociationFee_is_null,AssociationFee_value,LevelsorStories_is_null,LevelsorStories_value,YearBuilt_is_null,YearBuilt_value
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,64.0,0.0,3692.0,1.0,0.0,0.0,1.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,61.0,0.0,2819.0,1.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,21.0,0.0,6346.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,65.0,0.0,3298.0,1.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
809,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,26.0,0.0,1152.0,0.0,380.0,1.0,0.0,1.0,0.0
810,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,64.0,0.0,5588.0,1.0,0.0,0.0,2.0,1.0,0.0
811,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,33.0,0.0,4151.0,0.0,200.0,0.0,1.0,1.0,0.0
812,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0