In [1]:
%cd ..

c:\Users\DangoNoChain\OneDrive\J-5\GitHub\Projects\DeepREI\Model

In [2]:
import pandas as pd
from collections import Counter
import re
from src.features.VerboseValueNullBinary import VerboseValueNullBinary
from src.features.NumericValueNullBinary import NumericValueNullBinary
from src.features.categorical.CategoricalFeatureCreator import CategoricalFeatureCreator
from src.features.categorical.CategoricalValueNullBinaryNominal import CategoricalValueNullBinaryNominal

In [3]:
# Import DF
df = pd.read_csv("realtor_sample_data.csv")

In [4]:
# Numeric Features
numeric = NumericValueNullBinary(df["bedroom"])
numeric.run_etl()

# # Numeric Features
categorical = CategoricalFeatureCreator(df,["HouseStyle"])
categorical._create_categorical_features()

# # Numeric Features
# categorical = CategoricalValueNullBinaryNominal(df["HouseStyle"])
# categorical.run_etl()

# Verbose Features
verbose = VerboseValueNullBinary(df["CoolingFeatures"], threshold=6, most_common=True)
verbose.run_etl()

['HouseStyle']
0                      None
1                 Pool Only
2      R30-No Pool/No Water
3                 Pool Only
4                 Pool Only
               ...
120               Pool Only
121               Pool Only
122               Pool Only
123                    None
124        Condo 5+ Stories
Name: HouseStyle, Length: 125, dtype: object

In [5]:
# Numeric Columns
numeric.df_etl

     bedroom_is_null  bedroom_value
0                1.0            0.0
1                0.0            3.0
2                0.0            3.0
3                0.0            3.0
4                0.0            3.0
..               ...            ...
120              0.0            5.0
121              0.0            3.0
122              0.0            7.0
123              1.0            0.0
124              0.0            2.0

[125 rows x 2 columns]

In [8]:
# Verbose Columns
categorical.df_model

,HouseStyle__Condo 1-4 Stories,HouseStyle__Condo 5+ Stories,"HouseStyle__One Story, Substantially Remodeled",HouseStyle__Pool Only,HouseStyle__R30-No Pool/No Water,HouseStyle__Townhouse Condo,HouseStyle__Townhouse Fee Simple,HouseStyle__Two Story,HouseStyle__WF/No Ocean Access,HouseStyle__WF/Pool/No Ocean Access,HouseStyle__WF/Pool/Ocean Access,HouseStyle_is_null
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
120,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
121,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
122,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
124,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
# Verbose Columns
verbose.df_etl

,CoolingFeatures_cat_cooling,CoolingFeatures_cat_central,CoolingFeatures_cat_electric,CoolingFeatures_cat_fans,CoolingFeatures_cat_ceiling,CoolingFeatures_cat_none,CoolingFeatures_is_null
0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
120,1.0,1.0,0.0,1.0,1.0,0.0,0.0
121,1.0,1.0,0.0,0.0,0.0,0.0,0.0
122,1.0,1.0,0.0,0.0,0.0,0.0,0.0
123,0.0,0.0,0.0,0.0,0.0,1.0,1.0
124,1.0,1.0,0.0,0.0,0.0,0.0,0.0