In [1]:
%cd ..

c:\Users\DangoNoChain\OneDrive\J-5\GitHub\Projects\DeepREI\Model

In [2]:
import pandas as pd
from collections import Counter
import re

from src.features.numeric.NumericFeatureCreator import NumericFeatureCreator

from src.features.targetvar.TargetVariableCreator import TargetVariableCreator

from src.features.categorical.CategoricalFeatureCreator import CategoricalFeatureCreator

from src.features.verbose.VerboseFeatureCreator import VerboseFeatureCreator

In [3]:
# Import DF
df = pd.read_csv("RealtorSampleData.csv")

In [4]:
# Target Features
target = TargetVariableCreator(df,"lastsoldprice")
target._create_target_variable()

# Categorical Features
categorical = CategoricalFeatureCreator(df,["area"])
categorical._create_categorical_features()

# Numeric Features
numeric = NumericFeatureCreator(df,["bedroom"],["totalbathrooms"])
numeric._create_numeric_features()

# Verbose Features
verbose = VerboseFeatureCreator(df,verbose_columns=["coolingfeatures"], verbose_threshold=6, verbose_most_common=True)
verbose._create_verbose_features()

In [5]:
df.columns

Index(['Unnamed: 0', 'propertyurl', 'listingtype', 'forsaleprice',
       'lastsoldprice', 'description', 'bedroom', 'totalbathrooms',
       'fullbathrooms', 'halfbathrooms', 'bathroomdescription',
       'interiorfeatures', 'coolingfeatures', 'heatingfeatures',
       'diningroomdescription', 'exteriorandlotfeatures', 'waterfeatures',
       'waterfrontdescription', 'poolfeatures', 'pooldescription',
       'manufacturedmode', 'garagespaces', 'parkingfeatures',
       'homefeaturesview', 'otherequipment', 'elementaryschool', 'highschool',
       'middleschool', 'associationfeeamenitie', 'association',
       'associationamenities', 'associationfee', 'associationfeefrequency',
       'calculatedtotalmonthlyassociation', 'maintenancedescription',
       'petdescription', 'annualtaxamount', 'sourcelistingstatus', 'county',
       'directions', 'taxyear', 'restrictions', 'sourcepropertytype', 'area',
       'sourceneighborhood', 'postalcode', 'publicsurveysection',
       'subdivision', 'zoning', 'sourcesystemname', 'totalsquarefeetliving',
       'yearbuilt', 'constructionmaterials', 'directionfaces', 'propertyage',
       'roof', 'levelsorstories', 'structuretype', 'housestyle',
       'totalareasqft', 'yearbuiltdetails', 'architecturalstyle', 'sewer',
       'watersource'],
      dtype='object')

In [6]:
# Target Columns
target.df_etl

      lastsoldprice
0               NaN
1          150000.0
2          254900.0
3          460000.0
4          400000.0
...             ...
9995            NaN
9996            NaN
9997      8550000.0
9998            NaN
9999            NaN

[10000 rows x 1 columns]

In [7]:
# Verbose Columns
categorical.df_etl

,area__1033,area__11,area__1113,area__1160,area__1261,area__1300,area__1350,area__1376,area__1382,area__1438,...,area__4476,area__4576,area__464,area__4789,area__50,area__5676,area__5940,area__5940 Florida Other,area__69,area_is_null
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [8]:
# Target Columns
numeric.df_etl

,bedroom_is_null,bedroom_value,totalbathrooms_is_null,totalbathrooms_value
0,1.0,0.0,1.0,0.0
1,0.0,1.0,0.0,1.0
2,1.0,0.0,1.0,0.0
3,0.0,5.0,0.0,2.0
4,0.0,3.0,1.0,0.0
...,...,...,...,...
9995,0.0,1.0,1.0,0.0
9996,0.0,1.0,1.0,0.0
9997,1.0,0.0,1.0,0.0
9998,0.0,1.0,1.0,0.0
9999,0.0,1.0,1.0,0.0

In [9]:
# Verbose Columns
verbose.df_etl

,coolingfeatures_verb_none,coolingfeatures_verb_cooling,coolingfeatures_verb_central,coolingfeatures_verb_electric,coolingfeatures_verb_fans,coolingfeatures_verb_ceiling,coolingfeatures_verb_wallwindow,coolingfeatures_verb_unit,coolingfeatures_verb_paddle,coolingfeatures_verb_zoned,coolingfeatures_verb_fan,coolingfeatures_verb_air,coolingfeatures_verb_ac,coolingfeatures_is_null
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9996,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9998,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9999,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0