In [1]:
%cd ..

d:\OneDrive\J-5\GitHub\Projects\DeepREI\Model

In [2]:
import pandas as pd
from collections import Counter
import re
from src.features.VerboseValueNullBinary import VerboseValueNullBinary
from src.features.NumericValueNullBinary import NumericValueNullBinary
from src.features.CategoricalValueNullBinary import CategoricalValueNullBinary

In [3]:
# Import DF
df = pd.read_csv("realtor_sample_data.csv")

In [4]:
# Numeric Features
numeric = NumericValueNullBinary(df["AssociationFee"])
numeric.run_etl()

# Numeric Features
categorical = CategoricalValueNullBinary(df["WaterSource"])
categorical.run_etl()

# Verbose Features
verbose = VerboseValueNullBinary(df["CoolingFeatures"], threshold=6, most_common=True)
verbose.run_etl()

In [5]:
# Numeric Columns
numeric.df_etl

     AssociationFee_value  AssociationFee_is_null
0                     0.0                     1.0
1                    19.0                     0.0
2                     0.0                     1.0
3                     0.0                     1.0
4                     0.0                     1.0
..                    ...                     ...
120                   0.0                     1.0
121                   0.0                     1.0
122                   0.0                     1.0
123                   0.0                     1.0
124                 711.0                     0.0

[125 rows x 2 columns]

In [8]:
# Verbose Columns
categorical.df_etl

,WaterSource__Municipal Water,"WaterSource__Municipal Water, Well Water",WaterSource__None,WaterSource__Well Water
0,0,0,1,0
1,1,0,0,0
2,1,0,0,0
3,1,0,0,0
4,1,0,0,0
...,...,...,...,...
120,1,0,0,0
121,1,0,0,0
122,1,0,0,0
123,0,0,1,0
124,0,0,1,0

In [9]:
# Verbose Columns
verbose.df_etl

,CoolingFeatures_is_null,CoolingFeatures_cat_cooling,CoolingFeatures_cat_central,CoolingFeatures_cat_electric,CoolingFeatures_cat_fans,CoolingFeatures_cat_ceiling,CoolingFeatures_cat_none
0,1,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,1,0,0,0,0
3,0,1,1,0,0,0,0
4,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...
120,0,1,1,0,1,1,0
121,0,1,1,0,0,0,0
122,0,1,1,0,0,0,0
123,1,0,0,0,0,0,1
124,0,1,1,0,0,0,0