In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

from collections import Counter
import time
import os
from sqlalchemy import create_engine
import psycopg2 as pg
import io
import re
from datetime import datetime, timedelta

from keras.models import Sequential # Initialize ANN
from keras.layers import Dense # Tell us the number of layers, neurons per layer and activation function
from sklearn.model_selection import train_test_split # Split the data into training and testing sets
from sklearn.preprocessing import MinMaxScaler # To scale the data

In [2]:
import warnings

def fxn():
    warnings.warn("deprecated", DeprecationWarning)

with warnings.catch_warnings():
    warnings.simplefilter("ignore")
    fxn()

# 1) Import Data

In [3]:
# Create SQLAlchemy Connection
engine = create_engine('postgresql://postgres:Iminmiami!1@localhost:5433/DeepREI')
connection = engine.raw_connection()

# Instantiate Cursor
cursor = connection.cursor()

In [4]:
# Import Raw Data
base_data = pd.read_sql_query("SELECT * FROM public.realtortable", connection)

## Clean and Prep Data

In [5]:
# Remove Columns we dont want
base_data = base_data[['ListingType', 'bedroom', 'FullBathrooms', 'HalfBathrooms','BathroomDescription', 'InteriorFeatures', 'CoolingFeatures','HeatingFeatures', 'DiningRoomDescription', 'ExteriorandLotFeatures','WaterFeatures', 'WaterfrontDescription', 'PoolFeatures','PoolDescription', 'ManufacturedMode', 'GarageSpaces','ParkingFeatures', 'HomeFeaturesView', 'OtherEquipment','ElementarySchool', 'HighSchool', 'MiddleSchool','AssociationFeeAmenitie', 'Association', 'AssociationAmenities','AssociationFee', 'AssociationFeeFrequency', 'MaintenanceDescription','PetDescription', 'SourceListingStatus', 'County', 'Restrictions', 'SourcePropertyType', 'Area','SourceNeighborhood', 'PublicSurveySection','Subdivision', 'Zoning', 'SourceSystemName', 'TotalSquareFeetLiving', 'ConstructionMaterials', 'DirectionFaces', 'PropertyAge','Roof', 'LevelsorStories', 'StructureType', 'HouseStyle','TotalAreaSqft', 'YearBuiltDetails', 'ArchitecturalStyle', 'Sewer','WaterSource']]

# Replace Null with Nan
base_data = base_data.fillna(value=np.nan)

# Change Various Values
base_data['PropertyAge'] = base_data['PropertyAge'].replace('New Construction', 0)

# Change Columns to Numeric
base_data['bedroom'] = pd.to_numeric(base_data['bedroom'], errors='coerce')
base_data['FullBathrooms'] = pd.to_numeric(base_data['FullBathrooms'], errors='coerce')
base_data['HalfBathrooms'] = pd.to_numeric(base_data['HalfBathrooms'], errors='coerce')
base_data['GarageSpaces'] = pd.to_numeric(base_data['GarageSpaces'], errors='coerce')
base_data['PropertyAge'] = pd.to_numeric(base_data['PropertyAge'], errors='coerce')
base_data['TotalSquareFeetLiving'] = pd.to_numeric(base_data['TotalSquareFeetLiving'], errors='coerce')
base_data['AssociationFee'] = pd.to_numeric(base_data['AssociationFee'], errors='coerce')

# Replace Nan Values with 0s
base_data['HalfBathrooms'] = base_data['HalfBathrooms'].fillna(value=0)
base_data['GarageSpaces'] = base_data['GarageSpaces'].fillna(value=0)
base_data['AssociationFee'] = base_data['AssociationFee'].fillna(value=0)
base_data['LevelsorStories'] = base_data['LevelsorStories'].fillna(value=0) # Should I make this continuous??

## Feature Engineering

#### Organize columns into groups of Numeric, Categorical, and Verbose

In [6]:
# # Check value_counts of each column to determine feature type
# base_data['SourceNeighborhood'].value_counts()

In [7]:
# Column Names and their respective feature types
num_columns = ['bedroom','FullBathrooms', 'HalfBathrooms','GarageSpaces', 'PropertyAge','TotalSquareFeetLiving','AssociationFee','LevelsorStories']

cat_columns = ['ManufacturedMode','ElementarySchool','HighSchool', 'MiddleSchool','AssociationFeeFrequency','PetDescription', 'County','Area','PublicSurveySection','Zoning','SourceSystemName','Association', 'DirectionFaces','StructureType','HouseStyle','ArchitecturalStyle','SourceListingStatus', 'Sewer','WaterSource', 'SourceNeighborhood','SourcePropertyType','Subdivision']

verbose_columns = ['CoolingFeatures','HeatingFeatures', 'BathroomDescription', 'InteriorFeatures', 'AssociationFeeAmenitie', 'DiningRoomDescription', 'ExteriorandLotFeatures','WaterFeatures', 'WaterfrontDescription', 'PoolFeatures','PoolDescription', 'ParkingFeatures', 'HomeFeaturesView', 'OtherEquipment', 'AssociationAmenities','Roof','Restrictions','ConstructionMaterials','MaintenanceDescription']

#### cat_columns to Categorical

In [8]:
# One-Hot-Encode all Categorical Columns
base_data = pd.get_dummies(base_data, columns=cat_columns, drop_first=True)

#### verbose_columns to Categorical

In [9]:
class word_count_cat():

    def __init__(self, data, cat, threshold, most_common):
        self.data = data
        self.cat = cat
        self.threshold = threshold
        self.most_common = most_common

        # Lower case string, Remove Punctuation, and Split on ' '
        self.data[self.cat] = self.data[self.cat].apply(lambda x: re.sub(r'[^\w\s]','',x.lower()).split(' '))

        # Count all instances of a word
        results = Counter()
        self.data[self.cat].apply(results.update)

        # Make list of words over threshold if most_common = True
        if self.most_common:
            word_feats = [(x) for (x,y) in results.most_common() if y > self.threshold]

        # Else Make list of words below threshold if most_common = False
        else:    
            word_feats = [(x) for (x,y) in results.most_common() if y < self.threshold]
 
        # For Each word in list, make column and assign Binary value
        for word in word_feats:

            # Return binary, whether iteration is in list of strings
            self.data[f'{self.cat}_cat_{word}'] = self.data[self.cat].apply(lambda x: 1 if word in x else 0)

In [10]:
# Create Categorical columns for each verbose column
for verbose in verbose_columns:
    base_data = word_count_cat(data=base_data, cat=verbose, threshold=6, most_common=True).data

# Drop all Verbose source columns
base_data = base_data.drop(verbose_columns, axis = 1)

In [11]:
base_data

,ListingType,bedroom,FullBathrooms,HalfBathrooms,GarageSpaces,AssociationFee,TotalSquareFeetLiving,PropertyAge,LevelsorStories,TotalAreaSqft,...,MaintenanceDescription_cat_reserve,MaintenanceDescription_cat_fund,MaintenanceDescription_cat_hot,MaintenanceDescription_cat_other,MaintenanceDescription_cat_includes,MaintenanceDescription_cat_pest,MaintenanceDescription_cat_control,MaintenanceDescription_cat_interior,MaintenanceDescription_cat_no,MaintenanceDescription_cat_included
0,sold,NaN,NaN,0.0,0.0,0.0,NaN,NaN,None,None,...,0,0,0,0,0,0,0,0,0,0
1,sold,3.0,2.0,0.0,0.0,19.0,1716.0,43.0,2,1716,...,0,0,0,0,0,0,0,0,0,0
2,sold,3.0,2.0,1.0,0.0,0.0,1771.0,25.0,1,1771,...,0,0,0,0,0,0,0,0,0,0
3,sold,3.0,2.0,0.0,1.0,0.0,1986.0,62.0,1,1986,...,0,0,0,0,0,0,0,0,0,0
4,sold,3.0,2.0,0.0,0.0,0.0,1742.0,59.0,1,1742,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
539,buy,4.0,4.0,1.0,2.0,0.0,5095.0,47.0,2,5095,...,0,0,0,0,0,0,0,0,0,0
540,buy,6.0,7.0,1.0,3.0,0.0,9093.0,NaN,1,9093,...,0,0,0,0,0,0,0,0,0,0
541,buy,6.0,7.0,0.0,2.0,0.0,5858.0,36.0,1,5858,...,0,0,0,0,0,0,0,0,0,0
542,buy,6.0,6.0,1.0,3.0,0.0,7688.0,1.0,1,7688,...,0,0,0,0,0,0,0,0,0,0
543,buy,8.0,8.0,1.0,3.0,0.0,11414.0,15.0,2,11414,...,0,0,0,0,0,0,0,0,0,0

In [18]:
base_data['AssociationFee'].value_counts()

0.0       401
200.0       8
150.0       4
1000.0      4
250.0       3
         ...
545.0       1
2200.0      1
441.0       1
971.0       1
2741.0      1
Name: AssociationFee, Length: 100, dtype: int64

In [ ]:
#### Convert Data into an Array

In [ ]:
### Add Code

## Build Model