In [1]:
%cd ..

/Users/mwharton/Code/DeepREI

In [2]:
import pandas as pd
from src.features.dollar_value_feature import DollarValueFeature

In [3]:
df = pd.read_csv("realtor_sample_data.csv")

In [4]:
dvf = DollarValueFeature(df["AssociationFee"])

In [5]:
dvf.run_etl()

In [6]:
dvf.col_series

0      None
1        19
2      None
3      None
4      None
       ...
120    None
121    None
122    None
123    None
124     711
Name: AssociationFee, Length: 125, dtype: object

In [7]:
dvf.col_etl.values[0] is None

False

In [8]:
dvf.df_etl

     AssociationFee_value  AssociationFee_is_null
0                     0.0                     0.0
1                    19.0                    19.0
2                     0.0                     0.0
3                     0.0                     0.0
4                     0.0                     0.0
..                    ...                     ...
120                   0.0                     0.0
121                   0.0                     0.0
122                   0.0                     0.0
123                   0.0                     0.0
124                 711.0                   711.0

[125 rows x 2 columns]